*
!LICENSE
!/include/
!/include/*
!/include/**/
!/include/fakeLisp/
!/include/fakeLisp/*
!/test/
!/test/**/
!/test/*.fkl
!/test/test.json
!/lib/
!/lib/**/
!/lib/*
!/lib/utils/
!/lib/utils/*
!/lib/fdb/
!/lib/fdb/*
!CMakeLists.txt
!/src/
!/src/*
!/main/
!/main/*
!/main/**/
!/main/**/*
*.fklc
!README.md
!README_ZH.md

!/bdb/
!/bdb/*
!/fuv/
!/fuv/*
!/3rd/
!/3rd/*
!/3rd/**/
!/3rd/**/*
