*
!LICENSE
!include/
!/include/**/
!/include/fakeLisp/
!/include/fakeLisp/*
!/examples/
!/examples/**/
!/examples/*.fkl
!/lib/
!/lib/**/
!/lib/*
!CMakeLists.txt
!/src/
!/src/*
!/fklc/
!/fklc/*
!/cont/
!/cont/*
*.fklc
!README.md
!README_ZH.md
